body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-weight: bold;
}

h1 {
    font-size: 225%;
}

header{

    & h1 {
        color: steelblue;
        font-style: italic;
    }

    & h2 {
        font-size: 150%;
    }

    & h3 {
        font-size: 120%;
    }

    & img {
        float: left;
        padding: .5em;
    }
}


section {

    a {
        color: maroon
    }

    a:visited {
        color: maroon;
    }

    a:hover {
        color: steelblue;
    }

    a:focus {
        color: steelblue;
    }


}

aside {

   & h3 {
        color: maroon;
    }

    & ul {
        line-height: 1.5;
    }

    & a {
        color: steelblue;
    }

    & a:visited {
        color: steelblue;
    }

    & a:hover {
        color: maroon;
    }

    & a:focus {
        color: maroon;
    }
}

footer {
    font-size : 80%;
    text-align: center;
}


