body {
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    margin: 0 auto;
    border: 3px solid steelblue;
    box-shadow: 0px 0px 40px black;
    
}

a {
    font-weight: bold;
}

h1 {
    font-size: 225%;
}

header{

background: linear-gradient(to bottom, white, lightsteelblue);
border : 1px solid steelblue;
padding: 2.5em;
    & h1 {
        color: steelblue;
        font-style: italic;
    }

    & h2 {
        font-size: 150%;
    }

    & h3 {
        font-size: 120%;
    }

    & img {
        float: left;
        padding: 0em 0em .25em 0em;
        margin-top: 0px;
        
    }


}


section {

    a {
        color: maroon
    }

    a:visited {
        color: maroon;
    }

    a:hover {
        color: steelblue;
    }

    a:focus {
        color: steelblue;
    }


}

aside {

    border: 2px solid steelblue;
    border-radius: 10px;
    padding: 10px;
    

   & h3 {
        color: maroon;
        
    }

    & ul {
        line-height: 1.5;
        margin-left: 1em;
    }

    & a {
        color: steelblue;
    }

    & a:visited {
        color: steelblue;
    }

    & a:hover {
        color: maroon;
    }

    & a:focus {
        color: maroon;
    }
}

footer {
    font-size : 80%;
    text-align: center;
    background-color: steelblue;
    color: white;
    padding-top: 15px;
}

/* Reset selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    
    clear:both;
    padding: 1em;

    & p {

        padding-bottom: .5em;
    }

    & h2 {
        padding: 1em 0 .5em 0em;
    }

    & h3 {
        padding:.5em 0 .5em 0em;
    }

    & blockquote {
        padding: .25em 1.5em;
        
        
    }
}